html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #6d1919;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.person__link {
  color: #e20613;
  text-decoration: none;
}

.person__name {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
}

.person__paragraph {
  margin: 0;
}

.person__paragraph--link {
  margin-top: 22px;
}

.person__position {
  font-size: 18px;
  font-style: italic;
  color: #545454;
  margin-bottom: 22px;
}

.main {
  background: #f8f8f8;
  width: 624px;
  border-radius: 16px;
  padding: 32px;
  margin: 10px;
}

.person__picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 32px;
}

.special {
  color: #ed6d05;
  font-weight: normal;
}
